<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
       <div class="container">
            <% if(errorMessage) { %>
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <%= errorMessage %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
           <% } %>
           <% if(successMessage.length > 0) { %>
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    <%= successMessage %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
       <% } %>
           <div class="col-md-6 mx-auto">
               <form action="/auth/login" method="POST">
                    <div class="card">
                            <div class="card-header">
                              <h1 class="text-center">Login</h1>
                            </div>
                           <div class="card-body">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'border border-danger' : '' %>" name="email" id="email" >
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'border border-danger' : '' %>" name="password" id="password">
                                </div>
                           </div>
                           <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                           <div class="card-footer">
                               <button type="submit" class="btn btn-primary btn-block">Submit</button>
                           </div>
                          </div>
                       </div>
               </form>
       </div>
    </main>
    


<%- include('../includes/footer.ejs') %>
