  <!-- Top Bar -->
  <section id="top-bar" class="p-3 d-none d-md-block">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <i class="fas fa-phone"></i> 2348152282042
            </div>
            <div class="col-md-4">
              <i class="fas fa-envelope-open"></i> bukooh@bukooh.com
            </div>
            <div class="col-md-4">
              <div class="social text-right">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-pinterest"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class="main-header__brand">
          <img src="/images/buk1.png" alt="bukooh logo" >
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <% if (!isAuthenticated) { %>
            <li class="nav-item <%= path === '/' ? 'active' : '' %>">
                <a href="/" class="nav-link">Home</a>
            </li>
            <% } %>
            <li class="nav-item mr-3 nav-item <%= path === '/about' ? 'active' : '' %>">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item <%= path === '/books' ? 'active' : '' %>">
                <a href="/books" class="nav-link">Featured Books</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="dropdown nav-item mr-3 <%= path === '/books/add-book' ? 'active' : '' %>">
                  <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Book
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/add-book/pdf">
                        <i class="fas fa-file-pdf"></i> Pdf
                      </a>
                      <a class="dropdown-item" href="/add-book/hardcopy">
                          <i class="fas fa-book"></i> Hard Copy
                      </a>
                  </div>
              </li>
            <% } %>
        </ul>

        <ul class="navbar-nav ml-auto">
            <% if (isAuthenticated) { %>
              <li class="dropdown nav-item mr-3">
                  <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user"></i> Welcome <%= username.toUpperCase() %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/profile/books/<%= userId %>">
                          <i class="fas fa-user-circle"></i> Your Books
                      </a>
                      <a class="dropdown-item" href="/profile/edit">
                          <i class="fas fa-cog"></i> Edit Your Profile
                      </a>
                  </div>
              </li>
                <li class="nav-item">
                    <form action="/auth/logout" method="POST">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <button type="submit" class="nav-link btn btn-link"><i class="fas fa-user-times"></i> Logout </button>
                    </form>
                </li>
            <% } else { %>
                <li class="nav-item mr-3">
                    <a href="/auth/signup" class="nav-link <%= path === '/auth/signup' ? 'active' : '' %>">
                    <i class="fas fa-user-plus"></i> Register</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="/auth/login" class="nav-link <%= path === '/auth/login' ? 'active' : '' %>">
                    <i class="fas fa-sign-in-alt"></i>
                          Login</a>
                </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>


