<%- include('../includes/head.ejs') %>

<body>
    <% if(successMessage ) { %>
      <div class="alert text-center alert-success alert-dismissible fade show mb-0" role="alert">
          <strong><%= successMessage %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <% } %>
    <%- include('../includes/nav.ejs') %>
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                  <h1 class="display-4"><%= book.title %></h1>
                  <% if(book.type !== "pdf") { %>
                    <button type="button" class="btn btn-lg btn-link text-white" data-toggle="modal" data-target="#mapModal">
                        <i class="fas fa-map-marker text-primary"></i>  View location
                    </button>
                  <% } %>
                </div>
            </div>
        </div>
    </section>
      <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
      <div class="container">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/books">Featured Books</a>
            </li>
            <li class="breadcrumb-item active"><%= book.title %></li>
          </ol>
        </nav>
      </div>
    </section>
    <main>
        <div class="container py-2">
            <a href="/books" class="btn btn-light mb-4">Back To Featured Books</a>
            <div class="row">
                <div class="col-md-9">
                     <img src="<%=book.image %>" alt="<%= book.title %>" class="img-main img-fluid mb-3">
                     <div class="row mb-2 fields">
                        <div class="col-md-6">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-book-open"></i> Type:
                              <span class="float-right"><%= book.type %></span>
                            </li>
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-fire"></i> Status
                              <span class="float-right"><%= book.available ? "Available" : "Not Available" %> %></span> 
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-star"></i> Average Rating
                                <span class="float-right"><% if(book.averageRatings.toString().length == 1) { %>
                                    <%=book.averageRatings%>.0
                                <% } else { %>
                                  <%=book.averageRatings%>
                                <% } %>
                                </span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-sort-numeric-up"></i> No. of Reviews
                              <span class="float-right"><%= reviews.length %></span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-clock"></i> Time Submitted
                              <span class="float-right"> <%= moment(book.createdAt.getTime()).fromNow() %>
                              </span>
                            </li>
                            <li class="list-group-item text-secondary">
                              <i class="fas fa-user"></i> Submitted By
                              <span class="float-right"> <a href="/profile/books/<%=book.userId._id%>"> <%= book.userId.username.toUpperCase() %> </a>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- Description -->  
                    <div class="row px-3 mb-2">
                        <div class="col-md-12 list-group-item text-secondary p-3">
                            <p> <i class="fas fa-pencil-alt"></i> Description </p>
                            <p><%- book.description %></p>
                        </div>
                        <% if(book.type === "pdf") { %>
                        <div class="my-3 ml-auto">
                          <%= book.downloads%> download(s) 
                          <form action="/book/download/<%=book._id%>"  class="d-inline" method="POST">
                              <input type="hidden" name="pdfLink" value="<%= pdfLink  %>"/>
                              <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                              <button type="submit" class="btn btn-outline-primary"><i class="fas fa-download"></i> Download</button>
                          </form>
                        </div>
                        <% } %>
                    </div>
                    <div class="pb-3 pt-1 text-center">
                      <% if (isAuthenticated) { %>
                        <% if (!hasReview) { %>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitReview">
                              Submit a Review
                          </button>
                        <% } else { %>
                          <a href="/book/<%= book._id %>/<%= review._id %>/edit-review" class="btn btn-primary">
                            Edit Your Review
                          </a>
                        <% } %>
                      <% } %>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewReviews">
                        View all Reviews
                      </button>
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="card mb-3">
                    <img class="card-img-top" src="<%= book.userId.profileImage ? book.userId.profileImage : '/images/default_avatar.png'  %>" alt="book owner">
                      <div class="card-body">
                        <h5 class="card-title">Book Owner</h5>
                        <h6 class="text-secondary"><%= book.userId.username.toUpperCase() %></h6>
                      </div>
                  </div>
                  <% if(loggedInUser) { %>
                    <% if(ownedBook) { %>
                      <a href="/profile/books/<%=book.userId._id%>" class="btn-primary btn-block btn-lg text-center" style="text-decoration: none">View Your Book's</a>
                    <% } else { %>
                      <a href="/profile/books/<%=book.userId._id%>" class="btn-primary btn-block btn-lg text-center" style="text-decoration: none">View All Books</a>
                   <% } %>
                  <% } else { %>
                    <a href="/profile/books/<%=book.userId._id%>" class="btn-primary btn-block btn-lg text-center" style="text-decoration: none">View All Books</a>
                  <% } %>
                </div>
              </div>
              <% if(ownedBook) { %>
                <div class="text-center pt-2">
                  <a href="/<%= book.type !== 'pdf' ? 'edit-hardcopy' : 'edit-pdf' %>/<%=book._id%>" class="btn btn-outline-secondary text-center">Edit</a>
                    <form action="/delete-book/<%= book._id %>" method="POST" class="d-inline">
                      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                      <button type="submit" class="btn btn-outline-danger text-center">Delete</button>
                    </form>
                </div>
              <% } %>
            </div>

            <% if(book.type !== "pdf") { %>
            <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Location</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p><strong><i class="fas fa-map-marker text-primary"></i> <%= book.location %></strong></p>
                      <div id="map"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <%  } %>

<!-- Modal -->
<div class="modal fade" id="submitReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reviews</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/book/<%=book._id%>/add-review?edit=false" method="POST" class="mb-3">
            <div class="form-group">
                <label for="review-text">Add Review</label>
                <textarea required minlength="2" class="form-control" id="review-text" rows="3" name="reviewText" placeholder="Must be at least 2 characters long"></textarea>
            </div>
            <div class="form-group">
                <fieldset aria-required="true" class="starability-basic">
                    <legend>Add Rating</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="rate1" name="rating" value="1" />
                    <label for="rate1" title="Terrible">1 star</label>
                    <input type="radio" id="rate2" name="rating" value="2" />
                    <label for="rate2" title="Not good">2 stars</label>
                    <input type="radio" id="rate3" name="rating" value="3" />
                    <label for="rate3" title="Average">3 stars</label>
                    <input type="radio" id="rate4" name="rating" value="4" />
                    <label for="rate4" title="Very good">4 stars</label>
                    <input type="radio" id="rate5" name="rating" value="5" />
                    <label for="rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <input type="hidden" name="bookId" value="<%= book._id %>">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

<% if(book.type !== "pdf") { %>
  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/inquiry/<%= book._id %>" method="POST">
            <div class="form-group">
              <label for="message" class="col-form-label">Message(SMS):</label>
              <textarea name="message" class="form-control" placeholder="This feature has not been added due to financial constraint. It will be added soon'. You can call the book owner with this number +<%=book.userId.mobile %> "></textarea>
            </div>
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <input type="hidden" value="<%= loggedInUser %>" name="loggedInUserId">
            <input type="hidden" value="<%= book._id %>" name="bookId">
            <hr>
            <button type="submit" value="Send" <%= book.available && "disabled" %> class="btn btn-block btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>

<!-- Modal -->
<div class="modal fade" id="viewReviews" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">All Reviews</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-12">
              <% if(reviews.length > 0) { %>
                <% for(review of reviews) { %>
                  <div class="row">
                      <div class="col-2">
                          <img alt="<%=book.userId.username %>" width="50px" class="rounded-circle" src="<%= book.userId.profileImage ? book.userId.profileImage : '/images/default_avatar.png'  %>">
                      </div>
                      <div class="col-10">
                          <div class="row">
                              <div class="col-12">
                                  <h5> <%= review.userId.username.toUpperCase() %> </h5>
                              </div>
                          </div>
                          <p style="margin-bottom: -5px;"> <%= review.text %></p>
                          <i class="text-right"><% for(let i=1; i <= Number(review.rating); i++) { %>
                            <i class="fas fa-star text-warning"></i></i>
                          <% } %>
                          <% if (review.userId._id.toString() === loggedInUser ) { %>
                            <div>
                                <i class="text-muted text-right"><i class="far fa-clock"></i> <%= moment(review.updatedAt.getTime()).fromNow() %></i>
                            </div>
                            <div class="pb-4 py-2 text-left">
                              <a href="/book/<%= book._id %>/<%= review._id %>/edit-review" class="btn btn-sm btn-outline-warning">
                                Edit
                              </a>
                              <form action="/book/<%= book._id %>/<%= review._id %>/delete-review" method="POST" class="d-inline py-2">
                                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                              </form>
                            </div>
                         <% }%>
                          </div>
                  </div>
              <% } %> %>
              <% } else { %>
                <h3> This book has no review yet.</h3>
              <% } %>
                <div class="text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
      </div>
    </div>
  </div>
        </div> 
    </main>

    <% if(book.type !== "pdf") { %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <script>

      var book = <%-JSON.stringify(book)%>

      mapboxgl.accessToken = 'pk.eyJ1IjoiYmFiYXR1bmRlNTAiLCJhIjoiY2pyYmIwMWJmMHh3ODRhb2NkaGZyMGhmbSJ9.LFsfiAUa3iZY_6hK7g7-fw';
      
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: book.coordinates,
        zoom: 14
      });
        
  
      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'marker';
    
      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el)
        .setLngLat(book.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML('<h3>' + book.title + '</h3><p>' + book.location + '</p>'))
        .addTo(map);
      
      </script>
    <% } %>
    


<%- include('../includes/footer.ejs') %>
