<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                  <h1 class="display-4"><%= book.title %></h1>
                  <p class="lead"><i class="fas fa-map-marker text-primary"></i> Book Location</p>
                </div>
            </div>
        </div>
    </section>
      <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
      <div class="container">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/books">Featured Books</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/book/<%=book._id %>"><%= book.title %></a>
            </li>
            <li class="breadcrumb-item active">Edit Review</li>
          </ol>
        </nav>
      </div>
    </section>
    <main>
        <div class="container py-2">
            <a href="/book/<%=book._id %>" class="btn btn-light mb-4">Back To <%= book.title %></a>
            <div class="row">
                <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                Edit your previous review
                            </div>
                            <div class="card-body">
                                <form action="/book/<%=book._id%>/edit-review?" method="POST" class="mb-3">
                                    <div class="form-group">
                                        <textarea class="form-control" id="review-text" rows="3" name="reviewText" placeholder="Add Review"><%= review.text %></textarea>
                                    </div>
                                        <div class="form-group">
                                            <fieldset class="starability-basic">
                                                <legend>Add Rating</legend>
                                                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="<%=review.rating %>" checked aria-label="No rating." />
                                                <input type="radio" id="rate1" name="rating" value="1" <%= review.rating === 1 ? 'checked' : null  %> />
                                                <label for="rate1" title="Terrible">1 star</label>
                                                <input type="radio" id="rate2" name="rating" value="2" <%= review.rating === 2 ? 'checked' : null  %> />
                                                <label for="rate2" title="Not good">2 stars</label>
                                                <input type="radio" id="rate3" name="rating" value="3" <%= review.rating === 3 ? 'checked' : null  %> />
                                                <label for="rate3" title="Average">3 stars</label>
                                                <input type="radio" id="rate4" name="rating" value="4" <%= review.rating === 4 ? 'checked' : null  %> />
                                                <label for="rate4" title="Very good">4 stars</label>
                                                <input type="radio" id="rate5" name="rating" value="5" <%= review.rating === 5 ? 'checked' : null  %> />
                                                <label for="rate5" title="Amazing">5 stars</label>
                                            </fieldset>
                                        </div>
                                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                        <input type="hidden" name="bookId" value="<%= book._id %>">
                                        <input type="hidden" name="reviewId" value="<%= review._id %>">
                                  </div>
                                  <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                  </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </main>
</body>